<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<ul>
    <li><a href="/simple">Simple Client Routing</a></li>
    <li><a href="/universal">Universal Routing</a></li>
</ul>
</body>
</html>